body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.login-box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-input input:focus{
    border: 1px solid #03c75a;;
}

.login_button{
    background-color: #007bff;
}
.login_button:hover{
    background-color: #005bff;
}
.logo{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"],
button{
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button{
    width: 100%;
   
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.additional-options {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;

}

.additional-options a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: underline;
}
.login-button__item {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 14px 16px 15px;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 700;
    color: #000;
}
.login-button__item--kakao{
    height: 40px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-color: #fee500;
    background-color: #fee500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    
}
.login-button__item--kakao:hover{
    background-color: #e3c504cf;
}
.login-button__item__logo{
    display: inline-block;
    margin-top: -4px;
    margin-right: -4px;
    vertical-align: top;
}
#naver_id_login{
    width: 94%;
    height: 22px;
    line-height: 22px;
    background-color: #03c75a;
    color: white;
    font-weight: bold;
    cursor: pointer;  
    padding: 9px;
    border-radius: 4px;
    text-align: center;
    
}
#naver_id_login:hover{
    background-color: #028a49;
}
#naver_id_login a{
   display: block;
   color: white;
}

.naver_login_btn{
    width: 93%;
    background-color: #03c75a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    display: block;
}
