
body{
    /* Firefox에 대한 스크롤바 숨기기 */
    scrollbar-width: none;
}
.container{
    width: 70%;
    height: 400px;
    margin:30px  auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
   
}
#Todo_Calendar{
    width: 45%;
    
}
.calendar-header{
    display: flex;
}
.current-month{
    text-align: center;
    width: 90%;
    
}
.month-move{  
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-weight: 700;
}
.prev-month-btn,.next-month-btn{
    line-height: 63px;  
}
#Todo{
    width: 45%;
}
.weekdays,.FirstWeek,.SecondWeek,.ThirdWeek,.FourthWeek{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.FifthWeek{
    display: flex;
}
.FifthWeek .days{
    margin:0px 7px;
}
.days{
    width:30px;
    margin:5px 0px;
    padding:5px 0px;
    height: 40px;
    display: inline-block;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}


.Todo-date{
    text-align: center;
    color: black;
    text-align: center;
    padding-top: 15px;
}

.Todo-Container{
    height: 350px; 
    
    position:relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
}
.Todo-List{
    overflow-y: scroll; 
}
/* 스크롤바 숨기기  */
::-webkit-scrollbar {
    display: none;
}

#login-form{
    width: 95%;
    height:20px;
    
    
}
.Todo-input{
    width:90%;
    border: 1px solid black;
    outline: none;
    border: none;
    resize: none;
    transition:all 0.2s ease-in-out;
  
}
.Todo-input:focus{
    border-bottom: 1.7px solid black;  
}
.Todo-img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.Todo-container{
    width: 88%;
    height: 30px;
    padding: 0px 13px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
    align-items: center; 
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.5s ease-out;
}

.Todo-CheckBox{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
}
#Todo-text{
  display: inline-block;
  margin: 10px 0px;
  width: 70%;
}
.Todo-remove-button{
    color: red;
    cursor: pointer;
}
#Todo-create-button{
    display: none;
}
.TodoUpdate{
    width: 100%;
    height: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: none;
}
.Todo-box {
    position: relative;
  }
@keyframes hideAnimation {
    0% {
        width: 100%;
        height: 30px;
        opacity: 1;
        padding: 0;
        margin: 0;
        border: 1px solid black;
    }
    100% {
        width: 100%;
        height: 0;
        opacity: 1;
        padding: 0;
        margin: 0;
        border: none;
    }
}

@keyframes showAnimation {
    0% {
        width: 100%;
        height: 0;
        opacity: 1;
        padding: 0;
        margin: 0;
        border: none;
    }
    100% {
        width: 100%;
        height: 30px;
        opacity: 1;
        padding: 0;
        margin: 0;
        border: 1px solid black;
    }
}

.hidden-input {
    animation: hideAnimation 0.5s forwards;
}

.visible-input {
    animation: showAnimation 0.5s forwards;
}
.line-through{
    text-decoration: line-through;
}
.hidden{
    display: none;
}
.Todo-CheckBox-color{
    background-color: cornflowerblue;
}
.Todo-container-margin{
    margin: 2px 5px;
}
