<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momentum App</title>
    <script defer src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/46839fc23c.js" crossorigin="anonymous"></script>
    <!-- 네이버아이디 로그인 -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- 카카오톡 로그인 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
    integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script  src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
    <div class="wrap">


        <div class="calendar-container">
            <div class="calendar-header">
              <button id="prev-month">&lt;</button>
              <span id="month-year"></span>
              <button id="next-month">&gt;</button>
            </div>
            <div class="calendar-body">
              <div class="calendar-days">
                <!-- Weekdays -->
                <div>일</div>
                <div>월</div>
                <div>화</div>
                <div>수</div>
                <div>목</div>
                <div>금</div>
                <div>토</div>

              </div>
              <div id="calendar-dates" class="calendar-dates">

              </div>
            </div>
          </div>


        <div id="Todo">
                <div class="Todo-Container">
                    <h3 class="Todo-date">

                    </h3>
                    <div class="Todo-List container">
                        <div  id="group" class="box"></div>

                    </div>
                </div>


            <!-- 입력창-->
         <!-- action="/register" -->
                <form id="login-form"  method="post" novalidate>
                    <input class="Todo-input" name="todoInput" id="todoInput" type="text" placeholder="what is your work?" maxlength="20" >
                    <button id="Todo-create-button" type="submit"></button>
                    <button class="Todo-create" type="button">+</span>
                </form>
        </div>



    </div>
    <div class="Chart-Box">
        <canvas id="myChart" ></canvas>
    </div>












   <!-- <div>

       <button onclick="javascript:kakaoLogout();">로그아웃</button>
       <button onclick="javascript:secession();">탈퇴</button>

    </div> -->




<!-- 네이버 로그인 -->
    <!-- <script type="text/javascript">
        var naver_id_login = new naver_id_login("O2oCB8KsFIC6P7WpacL9", "http://127.0.0.1:5500/HTML/");
        // 접근 토큰 값
        // naver_id_login.oauthParams.access_token
        // 네이버 사용자 프로필 조회
        naver_id_login.get_naver_userprofile("naverSignInCallback()");
        // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
        function naverSignInCallback() {
          alert(naver_id_login.getProfileData('email'));
          alert(naver_id_login.getProfileData('nickname'));
          alert(naver_id_login.getProfileData('age'));
        }
      </script> -->
<!-- 카카오톡 로그인  -->
    <!-- <script>
         window.Kakao.init("6a58ec93e86dc8ba434ed7540d10477e");
        // 로그아웃
	function kakaoLogout() {
    	if (!Kakao.Auth.getAccessToken()) {
		    console.log('Not logged in.');
		    return;
	    }
	    Kakao.Auth.logout(function(response) {
    		alert(response +' logout');
		    window.location.href='/'
	    });
}; -->
<!-- // 회원탈퇴(연결 끊기) -->
<!-- // function secession() {
// 	Kakao.API.request({
//     	url: '/v1/user/unlink',
//     	success: function(response) {
//     		console.log(response);
//     		//callback(); //연결끊기(탈퇴)성공시 서버에서 처리할 함수
//     		window.location.href='/'
//     	},
//     	fail: function(error) {
//     		console.log('탈퇴 미완료')
//     		console.log(error);
//     	},
// 	});
// };  -->


</body>
</html>
